header {
    background-color: rgba(17, 0, 255, 0.75);
    text-align: center;
    color: white;
    padding: 1em;
}

.link{
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin: 1em;
}